<app-navbar></app-navbar>
<div class="hero-image">
</div>
  <div class="hero-text">
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Why We Do This</h5>
        <p class="card-text">Our Website will provide you information related veternarians to your pets and types of dog breeds their grooming sessions.Do fix your demo sessions.</p>
        <a href="#" class="btn btn-dark">Read Our Blog</a>
      </div>
    </div>
  </div>
