<app-navbar></app-navbar>
<div class="hero-image">
  <div class="container-fluid">
    <div class="row">
       <div class="col-md-4">
        <form><br><br><br>

<div class="card" style="background-color : transparent">
<h5 class="card-header" style="background-color : transparent; border-color: black">SignUp Here</h5>
<div class="card-body">
<div class="form-group">

<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your First name" style="background-color : transparent; border-color: black">
</div><br>
<form>
<div class="form-group">

<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Last name" style="background-color : transparent; border-color: black">
</div><br>


<div class="form-group">

<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address" style="background-color : transparent; border-color: black">
<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div><br>
<div class="form-group">

<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" style="background-color : transparent; border-color: black">
</div><br>
<div class="form-group">

<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your number" style="background-color : transparent; border-color: black; font-display: black">
</div><br>
<div class="form-group form-check">
<input type="checkbox" class="form-check-input" id="exampleCheck1">
<label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

       </div>
       <div class="col-md-4">
       </div>
      


