<app-navbar></app-navbar>

<div class="hero-image">
    <div class="container-fluid">
        <div class="row">
               <div class="col-md-4">
               <br><br><br><br><br><br>
    
    <form><br><br><br>
      <div class="card" style="background-color : transparent; border-color: black">
      <h5 class="card-header" style="background-color: #A0E7E5;">Status</h5>
      <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>Usha</td>
          <td>P</td>
          <td><i class="bi bi-check-circle-fill"></i></td>
        </tr>
        
      </tbody>
    </table>
    </div>
    </div>
    </form>
    
    <div class="row">
               <div class="col-md-4">
               </div>
               <div class="col-md-4">